<h1>Display your Pirate here</h1>

<h5>@PirateName</h5>
<h5>@PirateWeight</h5>
<h5>@PirateHeight</h5>

<h2>Display your first ship here</h2>

<h5>@Ship0Name</h5>
<h5>@Ship0Type</h5>
<h5>@Ship0Booty</h5>



<h2>Display your second ship here</h2>

<h5>@Ship1Name</h5>
<h5>@Ship1Type</h5>
<h5>@Ship1Booty</h5>